DB_NAME=orders
DB_USER=orders_user
DB_PASSWORD=orders_password
DB_HOST=localhost
DB_PORT=5432
DB_SSL_MODE=disable

KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC_ORDER_EVENTS=order.events
OUTBOX_POLL_INTERVAL=2s
OUTBOX_BATCH_SIZE=100

JWT_PUBLIC_KEY_PATH=./keys/jwt_public.pem
JWT_ISSUER=food-delivery-auth
