DB_NAME=payments
DB_USER=payments_user
DB_PASSWORD=payments_password
DB_HOST=localhost
DB_PORT=5432
DB_SSL_MODE=disable

JWT_PUBLIC_KEY_PATH=./keys/jwt_public.pem
JWT_ISSUER=food-delivery-auth

KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC_ORDER_EVENTS=order.events
KAFKA_TOPIC_PAYMENT_EVENTS=payment.events
PAYMENT_KAFKA_GROUP_ID=payment-service
PAYMENT_DEFAULT_AMOUNT=1000
PAYMENT_DEFAULT_CURRENCY=USD
