POSTGRES_ADMIN_USER=postgres
POSTGRES_ADMIN_PASSWORD=postgres
POSTGRES_ADMIN_DB=postgres
ORDER_DB_NAME=orders
ORDER_DB_USER=orders_user
ORDER_DB_PASSWORD=orders_password
PAYMENT_DB_NAME=payments
PAYMENT_DB_USER=payments_user
PAYMENT_DB_PASSWORD=payments_password
DELIVERY_DB_NAME=deliveries
DELIVERY_DB_USER=deliveries_user
DELIVERY_DB_PASSWORD=deliveries_password
RESTAURANT_DB_NAME=restaurants
RESTAURANT_DB_USER=restaurants_user
RESTAURANT_DB_PASSWORD=restaurants_password
AUTH_DB_NAME=auth
AUTH_DB_USER=auth_user
AUTH_DB_PASSWORD=auth_password
